.logo{
  height: 50px;
}
.border-bottom{
  border-bottom: 1px solid #14294b !important;
}
.text-primary{
  color: #fc7529 !important;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
