body{
    color: #14294b !important;
}
.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a {
    color: #3498db;
    outline: none!important;
}

a{
    color: #fc7529;
}
a:hover{
    text-decoration:none;
}
.active {
    color: #fc7529;
}
.btn-primary{
    background-color: #fc7529;
    border-color: #fc7529;
    color: #fff;
}
.bg-primary{
    background-color: #fc7529 !important;
}
.bg-secondary {
    background-color: #14294b;
}
.cost{
    margin-left: 20px;
}
